In [26]:
import pandas as pd
import os 
from sqlalchemy import create_engine
from dotenv import load_dotenv
from urllib.parse import quote_plus

In [27]:
load_dotenv('.env')

True

In [28]:
user = os.getenv("POSTGRES_USER")
password = os.getenv("POSTGRES_PASSWORD")
db = os.getenv("POSTGRES_DB")
host = "localhost"

In [29]:
encoded_password = quote_plus(password)
db_str = f"postgresql://{user}:{encoded_password}@{host}:5432/{db}"
engine = create_engine(db_str)

print(f"Connecting to: {db}")

Connecting to: manufacturing_data

In [ ]:
query = "SELECT * FROM sap_sales_flat"
df = pd.read_sql(query, engine)

query = "SELECT * FROM iot_sensors"
dfiot = pd.read_sql(query,engine)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 22 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   VBELN                          112650 non-null  object
 1   customer_id                    112650 non-null  object
 2   order_status                   112650 non-null  object
 3   AUDAT                          112650 non-null  object
 4   order_approved_at              112635 non-null  object
 5   order_delivered_carrier_date   111456 non-null  object
 6   order_delivered_customer_date  110196 non-null  object
 7   order_estimated_delivery_date  112650 non-null  object
 8   order_item_id                  112650 non-null  int64
 9   MATNR                          112650 non-null  object
 10  seller_id                      112650 non-null  object
 11  shipping_limit_date            112650 non-null  object
 12  NETWR                          112650 non-null  float64
 13  freight_value                  112650 non-null  float64
 14  CATEGORY                       111047 non-null  object
 15  product_name_lenght            111047 non-null  float64
 16  product_description_lenght     111047 non-null  float64
 17  product_photos_qty             111047 non-null  float64
 18  product_weight_g               112632 non-null  float64
 19  product_length_cm              112632 non-null  float64
 20  product_height_cm              112632 non-null  float64
 21  product_width_cm               112632 non-null  float64
dtypes: float64(9), int64(1), object(12)
memory usage: 18.9+ MB

In [39]:
keep_cols = [
    'VBELN',   
    'AUDAT',  
    'MATNR',   
    'NETWR',   
    'CATEGORY',
    'order_status' 
]

In [42]:
df_clean = df[keep_cols].copy()
print(f"Trimmed Shape:  {df_clean.shape}")

Trimmed Shape:  (112650, 6)

In [43]:
df_clean

,VBELN,AUDAT,MATNR,NETWR,CATEGORY,order_status
0,e481f51cbdc54678b7cc49136f2d6af7,2017-10-02 10:56:33,87285b34884572647811a353c7ac498a,29.99,utilidades_domesticas,delivered
1,53cdb2fc8bc7dce0b6741e2150273451,2018-07-24 20:41:37,595fac2a385ac33a80bd5114aec74eb8,118.70,perfumaria,delivered
2,47770eb9100c2d0c44946d9cf07ec65d,2018-08-08 08:38:49,aa4383b373c6aca5d8797843e5594415,159.90,automotivo,delivered
3,949d5b44dbf5de918fe9c16f97b45f8a,2017-11-18 19:28:06,d0b61bfb1de832b15ba9d266ca96e5b0,45.00,pet_shop,delivered
4,ad21c59c0840e6cb83a9ceb5573f8159,2018-02-13 21:18:39,65266b2da20d04dbe00c5c2d3bb7859e,19.90,papelaria,delivered
...,...,...,...,...,...,...
112645,63943bddc261676b46f01ca7ac2f7bd8,2018-02-06 12:58:58,f1d4ce8c6dd66c47bbaa8c6781c2a923,174.90,bebes,delivered
112646,83c1379a015df1e13d02aae0204711ab,2017-08-27 14:46:43,b80910977a37536adeddd63663f916ad,205.99,eletrodomesticos_2,delivered
112647,11c177c8e97725db2631073c19f07b62,2018-01-08 21:28:27,d1c427060a0f73f6b889a5c7c61f2ac4,179.99,informatica_acessorios,delivered
112648,11c177c8e97725db2631073c19f07b62,2018-01-08 21:28:27,d1c427060a0f73f6b889a5c7c61f2ac4,179.99,informatica_acessorios,delivered
112649,66dea50a8b16d9b4dee7af250b4be1a5,2018-03-08 20:57:30,006619bbed68b000c8ba3f8725d5409e,68.50,beleza_saude,delivered

In [45]:
df_clean['CATEGORY'].unique()

array(['utilidades_domesticas', 'perfumaria', 'automotivo', 'pet_shop',
       'papelaria', None, 'moveis_decoracao', 'moveis_escritorio',
       'ferramentas_jardim', 'informatica_acessorios', 'cama_mesa_banho',
       'brinquedos', 'construcao_ferramentas_construcao', 'telefonia',
       'beleza_saude', 'eletronicos', 'bebes', 'cool_stuff',
       'relogios_presentes', 'climatizacao', 'esporte_lazer',
       'livros_interesse_geral', 'eletroportateis', 'alimentos',
       'malas_acessorios', 'fashion_underwear_e_moda_praia',
       'artigos_de_natal', 'fashion_bolsas_e_acessorios',
       'instrumentos_musicais', 'construcao_ferramentas_iluminacao',
       'livros_tecnicos', 'construcao_ferramentas_jardim',
       'eletrodomesticos', 'market_place', 'agro_industria_e_comercio',
       'artigos_de_festas', 'casa_conforto', 'cds_dvds_musicais',
       'industria_comercio_e_negocios', 'consoles_games', 'moveis_quarto',
       'construcao_ferramentas_seguranca', 'telefonia_fixa', 'bebidas',
       'moveis_cozinha_area_de_servico_jantar_e_jardim',
       'fashion_calcados', 'casa_construcao', 'audio',
       'eletrodomesticos_2', 'fashion_roupa_masculina', 'cine_foto',
       'moveis_sala', 'artes', 'alimentos_bebidas',
       'tablets_impressao_imagem', 'fashion_esporte',
       'portateis_cozinha_e_preparadores_de_alimentos', 'la_cuisine',
       'flores', 'pcs', 'casa_conforto_2', 'portateis_casa_forno_e_cafe',
       'dvds_blu_ray', 'pc_gamer', 'construcao_ferramentas_ferramentas',
       'fashion_roupa_feminina', 'moveis_colchao_e_estofado',
       'sinalizacao_e_seguranca', 'fraldas_higiene', 'livros_importados',
       'fashion_roupa_infanto_juvenil', 'musica', 'artes_e_artesanato',
       'seguros_e_servicos'], dtype=object)

In [46]:
df_clean['order_status'].unique()

array(['delivered', 'invoiced', 'shipped', 'processing', 'canceled',
       'unavailable', 'approved'], dtype=object)

In [47]:
df_clean = df_clean[df_clean['order_status'] == 'delivered']

In [48]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 110197 entries, 0 to 112649
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   VBELN         110197 non-null  object
 1   AUDAT         110197 non-null  object
 2   MATNR         110197 non-null  object
 3   NETWR         110197 non-null  float64
 4   CATEGORY      108660 non-null  object
 5   order_status  110197 non-null  object
dtypes: float64(1), object(5)
memory usage: 5.9+ MB

In [54]:
df_clean['NETWR'].describe()

count    110197.000000
mean        119.980563
std         182.299446
min           0.850000
25%          39.900000
50%          74.900000
75%         134.170000
max        6735.000000
Name: NETWR, dtype: float64

In [55]:
df_clean[df_clean['NETWR'] == 0.85]

,VBELN,AUDAT,MATNR,NETWR,CATEGORY,order_status
59550,c5bdd8ef3c0ec420232e668302179113,2018-04-27 12:37:10,8a3254bee785a526d548a81a9bc3c9be,0.85,construcao_ferramentas_construcao,delivered
80476,3ee6513ae7ea23bdfab5b9ab60bffcb5,2018-04-24 11:01:06,8a3254bee785a526d548a81a9bc3c9be,0.85,construcao_ferramentas_construcao,delivered
94248,6e864b3f0ec71031117ad4cf46b7f2a1,2018-04-24 20:15:21,8a3254bee785a526d548a81a9bc3c9be,0.85,construcao_ferramentas_construcao,delivered

In [57]:
df_clean.loc[:, 'AUDAT'] = pd.to_datetime(df_clean['AUDAT'])

In [58]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 110197 entries, 0 to 112649
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   VBELN         110197 non-null  object
 1   AUDAT         110197 non-null  datetime64[ns]
 2   MATNR         110197 non-null  object
 3   NETWR         110197 non-null  float64
 4   CATEGORY      108660 non-null  object
 5   order_status  110197 non-null  object
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 5.9+ MB

In [62]:
df_clean[df_clean['CATEGORY'].isnull() == True]

,VBELN,AUDAT,MATNR,NETWR,CATEGORY,order_status
122,bfe42c22ecbf90bc9f35cf591270b6a7,2018-01-27 22:04:34,71225f49be70df4297892f6a5fa62171,27.30,None,delivered
214,58ac1947c1a9067b9f416cba6d844a3f,2017-09-13 09:18:50,9820e04e332fc450d6fd975befc1bc28,110.00,None,delivered
225,e22b71f6e4a481445ec4527cb4c405f7,2017-04-22 13:48:18,3bc5164bc7f4be77002d6651da65c98c,22.50,None,delivered
304,a094215e786240fcfefb83d18036a1cd,2018-02-08 18:56:45,5a848e4ab52fd5445cdc07aab1c40e48,122.99,None,delivered
377,6f841dde94727854eaff3f66432c80ea,2018-01-02 19:20:35,c600d7f13104e8db2ca2b9fa78581409,168.90,None,delivered
...,...,...,...,...,...,...
112228,1a10e938a1c7d8e5eecc3380f71ca76b,2018-07-25 08:58:35,8d39a63db6a98e40571f486e0c711cf7,127.20,None,delivered
112397,e33865519137f5737444109ae8438633,2018-05-28 00:44:06,e9cbc0910ab050cbd92fbeb051c270ea,33.85,None,delivered
112404,f0dd9af88d8ef5a8e4670fbbedaf19c4,2017-09-02 20:38:29,0c877471e35049402bca235e06cb8063,84.90,None,delivered
112410,272874573723eec18f23c0471927d778,2017-12-20 23:10:33,5a848e4ab52fd5445cdc07aab1c40e48,122.99,None,delivered
112427,dff2b9b8d7cfc595836945e1443789c3,2018-07-16 12:59:02,bfa0e398bef2d28bb421d42997982cab,219.99,None,delivered

In [68]:
df_clean['CATEGORY'] = df_clean['CATEGORY'].fillna('unknown')

/tmp/ipykernel_57505/2448900657.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['CATEGORY'] = df_clean['CATEGORY'].fillna('unknown')

In [69]:
df_sales = df_clean.dropna()

In [70]:
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 110197 entries, 0 to 112649
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   VBELN         110197 non-null  object
 1   AUDAT         110197 non-null  datetime64[ns]
 2   MATNR         110197 non-null  object
 3   NETWR         110197 non-null  float64
 4   CATEGORY      110197 non-null  object
 5   order_status  110197 non-null  object
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 5.9+ MB

In [72]:
df_sales.to_sql('sap_clean_sales_data', engine, if_exists='replace', index=False)

197

In [73]:
dfiot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   UDI               10000 non-null  int64
 1   Product ID        10000 non-null  object
 2   Machine_Type      10000 non-null  object
 3   Air_Temp          10000 non-null  float64
 4   Process_Temp      10000 non-null  float64
 5   Rotational_Speed  10000 non-null  int64
 6   Torque            10000 non-null  float64
 7   Tool_Wear         10000 non-null  int64
 8   Failure_Label     10000 non-null  int64
 9   TWF               10000 non-null  int64
 10  HDF               10000 non-null  int64
 11  PWF               10000 non-null  int64
 12  OSF               10000 non-null  int64
 13  RNF               10000 non-null  int64
 14  Timestamp         10000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(9), object(2)
memory usage: 1.1+ MB

In [74]:
dfiot.head(10)

,UDI,Product ID,Machine_Type,Air_Temp,Process_Temp,Rotational_Speed,Torque,Tool_Wear,Failure_Label,TWF,HDF,PWF,OSF,RNF,Timestamp
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,0,0,0,0,0,2025-12-09 03:42:15.829840
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,0,0,0,0,0,2025-12-09 03:47:15.829840
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,0,0,0,0,0,2025-12-09 03:52:15.829840
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,0,0,0,0,0,2025-12-09 03:57:15.829840
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,0,0,0,0,0,2025-12-09 04:02:15.829840
5,6,M14865,M,298.1,308.6,1425,41.9,11,0,0,0,0,0,0,2025-12-09 04:07:15.829840
6,7,L47186,L,298.1,308.6,1558,42.4,14,0,0,0,0,0,0,2025-12-09 04:12:15.829840
7,8,L47187,L,298.1,308.6,1527,40.2,16,0,0,0,0,0,0,2025-12-09 04:17:15.829840
8,9,M14868,M,298.3,308.7,1667,28.6,18,0,0,0,0,0,0,2025-12-09 04:22:15.829840
9,10,M14869,M,298.5,309.0,1741,28.0,21,0,0,0,0,0,0,2025-12-09 04:27:15.829840

In [76]:
df_dropped = dfiot.drop(columns=['Product ID', 'UDI'])

In [77]:
df_dropped

,Machine_Type,Air_Temp,Process_Temp,Rotational_Speed,Torque,Tool_Wear,Failure_Label,TWF,HDF,PWF,OSF,RNF,Timestamp
0,M,298.1,308.6,1551,42.8,0,0,0,0,0,0,0,2025-12-09 03:42:15.829840
1,L,298.2,308.7,1408,46.3,3,0,0,0,0,0,0,2025-12-09 03:47:15.829840
2,L,298.1,308.5,1498,49.4,5,0,0,0,0,0,0,2025-12-09 03:52:15.829840
3,L,298.2,308.6,1433,39.5,7,0,0,0,0,0,0,2025-12-09 03:57:15.829840
4,L,298.2,308.7,1408,40.0,9,0,0,0,0,0,0,2025-12-09 04:02:15.829840
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,M,298.8,308.4,1604,29.5,14,0,0,0,0,0,0,2026-01-12 20:37:15.829840
9996,H,298.9,308.4,1632,31.8,17,0,0,0,0,0,0,2026-01-12 20:42:15.829840
9997,M,299.0,308.6,1645,33.4,22,0,0,0,0,0,0,2026-01-12 20:47:15.829840
9998,H,299.0,308.7,1408,48.5,25,0,0,0,0,0,0,2026-01-12 20:52:15.829840
9999,M,299.0,308.7,1500,40.2,30,0,0,0,0,0,0,2026-01-12 20:57:15.829840

In [78]:
df_dropped['Machine_Type'].unique()

array(['M', 'L', 'H'], dtype=object)

In [79]:
type_m = {
    'M' :'Medium Power',
    'L':'Low Power',
    'H':'High Power'
}

In [80]:
df_dropped['Machine_Type'] = df_dropped['Machine_Type'].map(type_m).fillna(df_dropped['Machine_Type'])

In [81]:
df_dropped

,Machine_Type,Air_Temp,Process_Temp,Rotational_Speed,Torque,Tool_Wear,Failure_Label,TWF,HDF,PWF,OSF,RNF,Timestamp
0,Medium Power,298.1,308.6,1551,42.8,0,0,0,0,0,0,0,2025-12-09 03:42:15.829840
1,Low Power,298.2,308.7,1408,46.3,3,0,0,0,0,0,0,2025-12-09 03:47:15.829840
2,Low Power,298.1,308.5,1498,49.4,5,0,0,0,0,0,0,2025-12-09 03:52:15.829840
3,Low Power,298.2,308.6,1433,39.5,7,0,0,0,0,0,0,2025-12-09 03:57:15.829840
4,Low Power,298.2,308.7,1408,40.0,9,0,0,0,0,0,0,2025-12-09 04:02:15.829840
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Medium Power,298.8,308.4,1604,29.5,14,0,0,0,0,0,0,2026-01-12 20:37:15.829840
9996,High Power,298.9,308.4,1632,31.8,17,0,0,0,0,0,0,2026-01-12 20:42:15.829840
9997,Medium Power,299.0,308.6,1645,33.4,22,0,0,0,0,0,0,2026-01-12 20:47:15.829840
9998,High Power,299.0,308.7,1408,48.5,25,0,0,0,0,0,0,2026-01-12 20:52:15.829840
9999,Medium Power,299.0,308.7,1500,40.2,30,0,0,0,0,0,0,2026-01-12 20:57:15.829840

In [ ]:
df_dropped[['Failure_Label', 'TWF', 'HDF', 'PWF', 'OSF', 'RNF']].nunique()

Failure_Label    2
TWF              2
HDF              2
PWF              2
OSF              2
RNF              2
dtype: int64

In [93]:
df_iot = df_dropped.dropna()

In [94]:
df_iot

,Machine_Type,Air_Temp,Process_Temp,Rotational_Speed,Torque,Tool_Wear,Failure_Label,TWF,HDF,PWF,OSF,RNF,Timestamp
0,Medium Power,298.1,308.6,1551,42.8,0,0,0,0,0,0,0,2025-12-09 03:42:15.829840
1,Low Power,298.2,308.7,1408,46.3,3,0,0,0,0,0,0,2025-12-09 03:47:15.829840
2,Low Power,298.1,308.5,1498,49.4,5,0,0,0,0,0,0,2025-12-09 03:52:15.829840
3,Low Power,298.2,308.6,1433,39.5,7,0,0,0,0,0,0,2025-12-09 03:57:15.829840
4,Low Power,298.2,308.7,1408,40.0,9,0,0,0,0,0,0,2025-12-09 04:02:15.829840
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Medium Power,298.8,308.4,1604,29.5,14,0,0,0,0,0,0,2026-01-12 20:37:15.829840
9996,High Power,298.9,308.4,1632,31.8,17,0,0,0,0,0,0,2026-01-12 20:42:15.829840
9997,Medium Power,299.0,308.6,1645,33.4,22,0,0,0,0,0,0,2026-01-12 20:47:15.829840
9998,High Power,299.0,308.7,1408,48.5,25,0,0,0,0,0,0,2026-01-12 20:52:15.829840
9999,Medium Power,299.0,308.7,1500,40.2,30,0,0,0,0,0,0,2026-01-12 20:57:15.829840

In [95]:
df_iot.to_sql('iot_clean_data', engine, if_exists='replace', index=False)

1000